<h2>Routing</h2>

<ul>
    <li>
        <a routerLink="/students">Students</a>
    </li>
    <li>
        <a routerLink="/form">Form</a>
    </li>
</ul>
<router-outlet></router-outlet>


<!-- <h3>Last Value Added: {{lastItem}}</h3>

<h5 appHighlight>{{description | summary:50}}</h5> -->

<!-- <app-student-list mainTitle='asaad' (listUpdateEvent)='updateEvent($event)'></app-student-list> -->

<!-- <app-reactive-form></app-reactive-form>

<ul>
    <li *ngFor='let post of posts'> {{ post.userId }} {{ post.body }} </li>
</ul>

<input type="button" class="btn" value="Post another" (click)='submitPost()'> -->