<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" />
    <div class="input-group-append">
        <a class="btn btn-success" routerLink='/product-form'>Create new Product</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Category</th>
            <th class="text-center" width="200">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let product of products'>
            <td>{{product.title}}</td>
            <td>{{product.price | currency}}</td>
            <td>{{product.category}}</td>
            <td>
                <button [routerLink]="['../edit-product', product.id]" type="button" class="btn btn-success mr-2 btn-sm">
                    Edit
                </button>
                <button (click)='removeProduct(product)' type="button" class="btn btn-danger btn-sm">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
